<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b46fba">  <td>20/05/20 20:08:22</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;NewTest.beforeTest()[pri:0, instance:com.NewTours.Testscripts.NewTest@475e586c]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/05/20 20:08:31</td>   <td>8903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.Login()[pri:1, instance:com.NewTours.Testscripts.NewTest@475e586c]">Login</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/05/20 20:08:38</td>   <td>16306</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.BookingFlight()[pri:2, instance:com.NewTours.Testscripts.NewTest@475e586c]">BookingFlight</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/05/20 20:08:48</td>   <td>25521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewTest.ConfirmMessageCheck()[pri:3, instance:com.NewTours.Testscripts.NewTest@475e586c]">ConfirmMessageCheck</td> 
  <td>main@1891502635</td>   <td></td> </tr>
<tr bgcolor="b46fba">  <td>20/05/20 20:08:48</td>   <td>25709</td> <td>&nbsp;</td><td title="&lt;&lt;NewTest.afterTest()[pri:0, instance:com.NewTours.Testscripts.NewTest@475e586c]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1891502635</td>   <td></td> </tr>
</table>
